.shop {
  position: relative;
}

.shop h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.shop .product-sorting {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.shop .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 26px;
  margin:20px auto;
}

@media (max-width: 530px) {
  .shop .product-sorting .search-bar {
    width: 100%;
  }
}
