.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat center/cover url('../../assets/images/bg-desktop.jpg');
}

.home .btn-style {
  width: max-content;
  font-weight: 700;
  margin-top: 26vh;
}

@media (max-width: 525px) {
  .home {
    background: no-repeat center/cover url('../../assets/images/bg-mobile.jpg');
  }

  .home .btn-style {
    margin-top: 66vh;
  }
}
