.cart-page-item {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-areas:
    'image name'
    'image price'
    'image quantity'
    'image total-price';
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 12px 0px;
}

.cart-page-item > * {
  margin: 12px;
}

.cart-page-item .image-link {
  grid-area: image;
}

.cart-page-item .name {
  grid-area: name;
  text-transform: capitalize;
}

.cart-page-item .quantity-actions {
  grid-area: quantity;
}

.cart-page-item .price {
  grid-area: price;
  font-weight: 500;
}

.cart-page-item .total-price {
  grid-area: total-price;
  text-align: end;
  justify-self: end;
}

.cart-page-item .total-price .text {
  font-weight: 500;
  margin-right: 6px;
}
