.product-detailed-view {
  width: fit-content;
  margin: 0px auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
}

.product-detailed-view .image-wrapper {
  position: relative;
  flex: 1 0 calc(100% - 300px);
  max-width: 560px;
  min-width: 300px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
}

.product-detailed-view img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.product-detailed-view .info-container {
  flex-grow: 1;
  width: 300px;
  padding: 20px;
}

.product-detailed-view .info-container .heading {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.product-detailed-view .details {
  width: 100%;
  margin: 12px 0px;
}

.product-detailed-view .details > * {
  margin: 12px 0px;
}

.product-detailed-view .details .field-container {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.product-detailed-view .title {
  margin-right: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-detailed-view .drop-down {
  cursor: pointer;
}

.product-detailed-view .drop-down p {
  margin: 8px 0px 8px 16px;
}

.product-detailed-view .disclaimer {
  font-weight: 600;
  font-size: 0.8rem;
}

.product-detailed-view .product-in-cart {
  margin: 16px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(226 226 226 / 64%);
  padding: 12px;
  border-radius: 4px;
  font-weight: 500;
}

.product-detailed-view .product-in-cart span {
  font-size: 0.8rem;
}

.product-detailed-view .like-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.add-with-icon {
  position: relative;
}

.add-with-icon .icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

@media (max-width: 640px) {
  .product-detailed-view .image-container {
    min-width: 100%;
  }
  .product-detailed-view .info-container {
    width: 100%;
  }
}
