.product-card {
  position: relative;
  width: min(300px, 100%);
  /* box-shadow: 0 1px 3px #0000001f, 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
  border-radius: 4px;
}

.product-card .details img {
  width: 100%;
  display: block;
  object-fit: contain;
  padding: 0;
}

.product-card .name {
  width: 100%;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-card .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
}

.product-card .details > * {
  padding: 4px 8px;
}

.product-card .add-to-bag-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff4d;
  border: none;
}

.product-card .like-btn {
  position: absolute;
  right: 6px;
  top: 6px;
}

@media (max-width: 450px) {
  .product-card {
    margin: auto;
  }
}
