.cart-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  max-width: 500px;
  margin: 40px 0px;
}

.cart .empty-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cart .empty-text .icon-text-link {
  position: relative;
  margin: 20px 0px;
}

.cart-header,.cart-footer {
  position: relative;
  padding: 20px 0px 30px 0px;
}

.cart-header {
  text-align: center;
}

.cart-page .icon-text-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart .total-cart {
  text-align: end;
  border-bottom: 2px solid #000000;
}

.cart .total-cart .text {
  margin-right: 6px;
  font-weight: 500;
  font-size: 1rem;
}
