.cart-page-item {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-areas:
    'image name'
    'image price'
    'image quantity'
    'image total-price';
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 12px;
  margin: 12px;
}

.cart-page-item > * {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.cart-page-item .name {
  grid-area: name;
  text-transform: capitalize;
}

.cart-page-item .image-link {
  grid-area: image;
}

.cart-page-item .image {
  display: block;
  width: 100%;
  object-fit: contain;
  padding: 0;
  border-radius: 4px;
}

.cart-page-item .price {
  grid-area: price;
  font-weight: 500;
}

.cart-page-item .quantity {
  grid-area: quantity;
}

.cart-page-item .quantity button {
  background-color: transparent;
  border: none;
}

.cart-page-item .quantity .number {
  margin: 0px 6px;
}

.cart-page-item .quantity .trash {
  margin: 0px 8px;
}

.cart-page-item .total-price {
  grid-area: total-price;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-page-item .total-price .text {
  font-weight: 500;
  margin-right: 6px;
}

@media (max-width: 350px) {
  .cart-page-item .quantity {
    justify-content: space-between;
  }
}
