.checkout {
  position: relative;
}

.checkout-empty {
  display: flex;
  justify-content: center;
}

.checkout .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.checkout .banner svg {
  margin-right: 10px;
}

.checkout .banner.footer {
  justify-content: flex-end;
  font-size: 1rem;
}

.checkout .form-entry {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  margin: 14px 0px;
}

.checkout .form-entry .left {
  width: 50%;
  text-align: end;
  padding-right: 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.checkout .form-entry .right {
  width: 50%;
}

.checkout .regex-pattern {
  width: 50%;
  padding: 6px;
  font-size: 0.8rem;
  color: rgb(96, 96, 96);
}

.checkout .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkout .button-container.top {
  justify-content: flex-start;
}

.checkout input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.checkout input[disabled] {
  border: 1px solid #00000066;
}

.checkout .image {
  display: block;
  width: 60px;
  object-fit: contain;
  border-radius: 4px;
}

.checkout .item-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout .item-display > * {
  margin: 8px;
}

.checkout .item-display .quantity {
  letter-spacing: 2px;
}

.shipping-form,
.billing-form {
  padding: 16px;
}

.form-btn-style {
  width: max-content;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  color: #ffffff;
}

.form-btn-style.previous {
  background-color: #ffa500;
}

.form-btn-style.proceed {
  background-color: #228b22;
}

/* Order Summary styles */

.show-order-summary {
  width: max-content;
  position: sticky;
  top: 90px;
  left: 50%;
  font-weight: 600;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 14px;
  border: none;
  color: #ffffff;
  background-color: #228b22;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
  z-index: 20;
}

.show-order-summary > * {
  margin-left: 4px;
}

.order-summary-wrapper.started {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.order-summary-wrapper.show {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

.order-summary-wrapper.show .order-summary {
  margin: 0;
  position: fixed;
  top: 130px;
  left: 50vw;
  transform: translateX(-50%);
}

.order-summary {
  max-width: 300px;
  border: 2px solid #000000;
  background-color: #ffffff;
  margin: 60px auto;
  border-radius: 10px;
  text-transform: capitalize;
}

.order-summary > * {
  margin: 12px;
}

.order-summary .item-display {
  background-color: #a4caa4bd;
}

.order-summary .items-container {
  max-height: 140px;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.order-summary .price-breakdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.price-breakdown .bold {
  font-weight: 500;
}

.order-summary .button-container {
  margin: 0;
  padding: 12px;
}

.shipping,
.billing,
.confirmation {
  max-width: 600px;
  border: 2px solid #000000;
  margin: 60px auto;
}

/* Confirmation */

.checkout .details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 14px;
  padding: 16px 0px;
}

.details-grid .edit {
  padding: 2px 8px;
  background-color: #228b22;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.details-grid .key {
  text-align: end;
  font-weight: 500;
  text-transform: capitalize;
}

.details-grid .title.key {
  font-weight: 600;
  text-transform: uppercase;
}

.confirmation .button-container,
.confirmation .description {
  padding: 16px;
}

/* Radio Styles */

.radio-container .choices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.radio-container .choices > * {
  display: flex;
}

input[type='radio'] {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  accent-color: #008000;
  border: 1px solid #000000;
  border-radius: 4px;
}

input[type='radio']:checked + label {
  font-weight: 600;
}

input[type='radio']:checked {
  background-color: #228b22d1;
}

/* Success */

.success {
  max-width: 540px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
  border-radius: 10px;
  border: 2px solid black;
}

.success > * {
  margin: 14px;
}

.success .heading {
  text-align: center;
}

.success .message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.success .message-container .field {
  width: max-content;
  margin-right: 6px;
}

.success .continue-shopping {
  align-self: flex-end;
  background-color: #228b22;
}

.shipping-details .heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shipping-details .view {
  width: 60px;
  margin-left: 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
  color: #ffffff;
  padding: 2px 6px;
  background-color: #228b22;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.shipping-details .details-grid {
  margin: 0px 14px;
}

.shipping-details .details-grid.open {
  display: none;
}

.success .item-display {
  text-transform: capitalize;
}

.success-items .field {
  margin-bottom: 10px;
}

/* Loading Screen */

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.loading-screen .leaf {
  margin: 40px;
  animation: leaf-spin infinite 1s linear;
}

@keyframes leaf-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .form-btn-style.previous:hover {
    background-color: #ff8c00;
  }

  .form-btn-style.proceed:hover {
    background-color: #006400;
  }
}
